.u-section-1 .u-sheet-1 {
  min-height: 790px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 670px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 49px;
  padding-right: 49px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  animation-duration: 1000ms;
  margin: 65px 30px 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 20px 30px 65px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 670px;
  animation-duration: 1000ms;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/firstdayofschoolbacktoschoolphotoideasphotographyhowtotakegreatpictures13.jpg");
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 184px;
    margin-left: 0;
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin: 60px 0 134px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 500px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 79px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 29px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 459px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 163px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 113px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 461px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 299px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 62px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 12px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 300px;
  }
}.u-section-2 {
  min-height: 340px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 340px;
}

.u-section-2 .u-icon-1 {
  height: 86px;
  width: 86px;
  margin: 85px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 20px 20px 35px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 340px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 16px;
}

.u-section-2 .u-icon-2 {
  height: 86px;
  width: 86px;
  margin: 88px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 24px 20px 99px;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 340px;
}

.u-section-2 .u-icon-3 {
  height: 86px;
  width: 86px;
  margin: 85px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 20px 35px;
}

.u-section-2 .u-layout-cell-4 {
  background-image: none;
  min-height: 340px;
}

.u-section-2 .u-icon-4 {
  height: 86px;
  width: 86px;
  margin: 85px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 20px 35px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 291px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 291px;
  }

  .u-section-2 .u-icon-1 {
    height: 71px;
    width: 71px;
    position: relative;
    margin-top: 30px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 291px;
  }

  .u-section-2 .u-icon-2 {
    height: 71px;
    width: 71px;
    position: relative;
    margin-top: 77px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 77px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 291px;
  }

  .u-section-2 .u-icon-3 {
    height: 71px;
    width: 71px;
    position: relative;
    margin-top: 30px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 291px;
  }

  .u-section-2 .u-icon-4 {
    height: 71px;
    width: 71px;
    position: relative;
    margin-top: 30px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-icon-1 {
    height: 80px;
    width: 80px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 22px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-2 .u-icon-2 {
    height: 80px;
    width: 80px;
    margin-top: 30px;
  }

  .u-section-2 .u-text-2 {
    margin: 25px 15px 30px;
  }

  .u-section-2 .u-icon-3 {
    height: 80px;
    width: 80px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-icon-4 {
    height: 80px;
    width: 80px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 23px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-icon-1 {
    height: 75px;
    width: 75px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-icon-2 {
    height: 75px;
    width: 75px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 7px;
    margin-left: 7px;
  }

  .u-section-2 .u-icon-3 {
    height: 75px;
    width: 75px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-icon-4 {
    height: 75px;
    width: 75px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 2px;
    margin-left: 2px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 1px;
    margin-right: 1px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 492px;
}

.u-section-3 .u-group-1 {
  min-height: 383px;
  width: 1028px;
  margin: 60px auto 49px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 49px;
  padding-right: 49px;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 3.75rem;
  margin: 75px 60px 0;
}

.u-section-3 .u-line-1 {
  width: 67px;
  height: 3px;
  transform-origin: right center;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 35px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-group-1 {
    min-height: 315px;
    margin-top: 93px;
    margin-bottom: 93px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    width: 55px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin: 20px 0 25px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-3 .u-group-1 {
    min-height: 325px;
    margin-top: 65px;
    margin-bottom: 12px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-line-1 {
    width: 42px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-3 .u-group-1 {
    min-height: 340px;
    margin-top: 70px;
    margin-bottom: 70px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-3 .u-line-1 {
    width: 39px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-3 .u-group-1 {
    min-height: 478px;
    margin-top: 61px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-line-1 {
    width: 33px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1025px;
}

.u-section-4 .u-group-1 {
  width: 855px;
  min-height: 185px;
  margin: 26px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  margin: 59px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  margin: 13px 0 20px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 35px 0 80px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 719px;
  animation-duration: 1000ms;
  transition-duration: 0.25s;
}

.u-section-4 .u-image-1 {
  background-image: url("images/b7040d72be0edade2d96c5faa0198690.jpg");
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 367px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-icon-1 {
  height: 68px;
  width: 68px;
  background-image: none;
  margin: 35px 0 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 33px 0 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0 auto;
}

.u-section-4 .u-link-1 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 8px auto;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 367px;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-icon-2 {
  height: 68px;
  width: 68px;
  background-image: none;
  margin: 35px 0 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 33px 0 0 auto;
}

.u-section-4 .u-text-6 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0 auto;
}

.u-section-4 .u-link-2 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 8px auto;
}

.u-section-4 .u-image-2 {
  min-height: 352px;
  background-image: url("images/d.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-4 .u-image-3 {
  background-image: url("images/dfv.jpg");
  min-height: 352px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 971px;
  }

  .u-section-4 .u-group-1 {
    width: 638px;
    min-height: 138px;
    margin-top: 58px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 33px;
    padding-right: 33px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 29px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 11px;
    margin-bottom: 15px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 681px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 339px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-icon-1 {
    height: 60px;
    width: 60px;
    margin-top: 28px;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    margin-left: 0;
  }

  .u-section-4 .u-link-1 {
    position: relative;
    margin-bottom: 14px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 339px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-icon-2 {
    height: 60px;
    width: 60px;
    margin-top: 28px;
  }

  .u-section-4 .u-text-5 {
    position: relative;
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    position: relative;
    margin-left: 0;
  }

  .u-section-4 .u-link-2 {
    position: relative;
    margin-bottom: 14px;
  }

  .u-section-4 .u-image-2 {
    min-height: 342px;
  }

  .u-section-4 .u-image-3 {
    min-height: 342px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1902px;
  }

  .u-section-4 .u-group-1 {
    width: 571px;
    min-height: 124px;
    margin-top: 70px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin: 20px 10px 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 2px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 798px;
    z-index: 3;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 421px;
    z-index: 5;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-1 {
    height: 64px;
    width: 64px;
    margin-top: 35px;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 33px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-link-1 {
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 421px;
    z-index: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-2 {
    height: 64px;
    width: 64px;
    margin-top: 35px;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: 33px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-link-2 {
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 419px;
    z-index: 2;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 419px;
    z-index: 1;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2432px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 126px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin: 11px 1px 10px;
  }

  .u-section-4 .u-layout-wrap-1 {
    min-height: 0;
    margin-top: 56px;
    margin-bottom: 31px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 694px;
    z-index: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 354px;
    z-index: auto;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 28px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-link-1 {
    margin-bottom: 28px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 354px;
    z-index: auto;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 28px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 29px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-link-2 {
    margin-bottom: 28px;
  }

  .u-section-4 .u-image-2 {
    min-height: 354px;
    z-index: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-image-3 {
    min-height: 359px;
    z-index: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2293px;
  }

  .u-section-4 .u-group-1 {
    min-height: 150px;
    margin-top: 63px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-4 .u-text-2 {
    margin: 7px 0 15px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 26px;
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 583px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 27px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-link-1 {
    margin-bottom: 27px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 27px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-4 .u-link-2 {
    margin-bottom: 27px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 615px;
}

.u-section-5 .u-group-1 {
  width: 570px;
  min-height: 133px;
  margin: 65px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  margin: 9px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 12px 0 9px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 20px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  background-position: 0% 0%;
  min-height: 347px;
  animation-duration: 1000ms;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  font-weight: 500;
  width: 203px;
  font-size: 1.25rem;
  margin: 31px auto 0;
}

.u-section-5 .u-text-4 {
  font-style: italic;
  font-size: 1rem;
  width: 203px;
  margin: 31px auto 30px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  background-position: 0% 0%;
  min-height: 347px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 13px;
  padding-right: 13px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  font-weight: 500;
  width: 203px;
  font-size: 1.25rem;
  margin: 31px auto 0;
}

.u-section-5 .u-text-6 {
  font-style: italic;
  font-size: 1rem;
  width: 203px;
  margin: 31px auto 30px;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  background-position: 0% 0%;
  min-height: 347px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 13px;
  padding-right: 13px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-7 {
  text-transform: uppercase;
  font-weight: 500;
  width: 203px;
  font-size: 1.25rem;
  margin: 31px auto 0;
}

.u-section-5 .u-text-8 {
  font-style: italic;
  font-size: 1rem;
  width: 203px;
  margin: 31px auto 30px;
}

.u-section-5 .u-layout-cell-4 {
  background-image: none;
  background-position: 0% 0%;
  min-height: 347px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-5 {
  padding-left: 13px;
  padding-right: 13px;
}

.u-section-5 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-9 {
  text-transform: uppercase;
  font-weight: 500;
  width: 203px;
  font-size: 1.25rem;
  margin: 31px auto 0;
}

.u-section-5 .u-text-10 {
  font-style: italic;
  font-size: 1rem;
  width: 203px;
  margin: 31px auto 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-5 .u-group-1 {
    width: 470px;
    min-height: 185px;
    margin-top: 31px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 20px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 44px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-icon-1 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-5 .u-text-3 {
    width: 167px;
  }

  .u-section-5 .u-text-4 {
    width: 167px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-5 .u-icon-2 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-5 .u-text-5 {
    width: 167px;
  }

  .u-section-5 .u-text-6 {
    width: 167px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-5 .u-icon-3 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-5 .u-text-7 {
    width: 167px;
  }

  .u-section-5 .u-text-8 {
    width: 167px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-5 .u-icon-4 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-5 .u-text-9 {
    width: 167px;
  }

  .u-section-5 .u-text-10 {
    width: 167px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1114px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
    margin-top: 44px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-5 .u-icon-1 {
    height: 78px;
    width: 78px;
    margin-top: 58px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
    width: 319px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
    width: 319px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 402px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-5 .u-icon-2 {
    height: 78px;
    width: 78px;
    margin-top: 58px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
    width: 319px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
    width: 319px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 402px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-5 .u-icon-3 {
    height: 78px;
    width: 78px;
    margin-top: 35px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
    width: 319px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 35px;
    width: 319px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 402px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-5 .u-icon-4 {
    height: 78px;
    width: 78px;
    margin-top: 58px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
    width: 319px;
  }

  .u-section-5 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
    width: 319px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 44px;
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 347px;
  }

  .u-section-5 .u-icon-1 {
    height: 65px;
    width: 65px;
    margin-top: 42px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
    width: 514px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.125rem;
    width: 514px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 400px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-icon-2 {
    height: 65px;
    width: 65px;
    margin-top: 69px;
    margin-left: 218px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    width: 514px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.125rem;
    width: 514px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 399px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-icon-3 {
    height: 68px;
    width: 68px;
    margin-top: 65px;
    margin-right: 208px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    width: 514px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.125rem;
    width: 514px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 400px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-icon-4 {
    height: 68px;
    width: 68px;
    margin-top: 66px;
    margin-right: 208px;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    width: 514px;
  }

  .u-section-5 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.125rem;
    width: 514px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-5 .u-text-4 {
    width: 340px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-5 .u-text-5 {
    width: 340px;
  }

  .u-section-5 .u-text-6 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-icon-3 {
    margin-right: auto;
  }

  .u-section-5 .u-text-7 {
    width: 340px;
  }

  .u-section-5 .u-text-8 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-icon-4 {
    margin-right: auto;
  }

  .u-section-5 .u-text-9 {
    width: 340px;
  }

  .u-section-5 .u-text-10 {
    width: 340px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 464px;
}

.u-section-6 .u-group-1 {
  min-height: 104px;
  margin: 79px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 18px auto 34px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 196px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-2 {
  margin: 8px 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 196px;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 16px;
  }

  .u-section-6 .u-text-1 {
    margin: 10px 16px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 158px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin: 15px 16px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 158px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 79px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 95px;
  }

  .u-section-6 .u-text-2 {
    margin-left: -11px;
    margin-right: -11px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 95px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 27px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 120px;
  }

  .u-section-6 .u-text-2 {
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 120px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 540px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-7 .u-image-1 {
  min-height: 400px;
  background-image: url("images/c4f5abfbf6e1318f547819911d40eb34.jpg");
  background-position: 0% 0%;
  animation-duration: 1000ms;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-1 {
  animation-duration: 1000ms;
  margin: 40px 0 0;
}

.u-section-7 .u-text-2 {
  animation-duration: 1000ms;
  margin: 20px 0 40px;
}

.u-section-7 .u-image-2 {
  min-height: 400px;
  background-image: url("images/bf76ae7aee2f9e595a6c9f6bdefc52a2.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-7 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-7 .u-image-1 {
    min-height: 330px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-7 .u-image-2 {
    min-height: 330px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-7 .u-image-1 {
    min-height: 266px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-7 .u-image-2 {
    min-height: 266px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 267px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 973px;
}

.u-section-8 .u-group-1 {
  width: 766px;
  min-height: 145px;
  top: 36px;
  left: 187px;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-8 .u-text-1 {
  margin: 15px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 13px 0 15px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 211px auto 95px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 224px;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-8 .u-text-3 {
  margin: 23px 0 0;
}

.u-section-8 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  background-image: none;
  min-height: 222px;
}

.u-section-8 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-8 .u-text-5 {
  margin: 23px 0 0;
}

.u-section-8 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-8 .u-layout-cell-3 {
  background-image: none;
  min-height: 224px;
}

.u-section-8 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-8 .u-text-7 {
  margin: 23px 0 0;
}

.u-section-8 .u-text-8 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 670px;
}

.u-section-8 .u-image-1 {
  height: 550px;
  animation-duration: 1000ms;
  margin: 60px auto 37px 0;
}

.u-section-8 .u-layout-cell-5 {
  background-image: none;
  min-height: 224px;
}

.u-section-8 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-8 .u-text-9 {
  margin: 23px 0 0;
}

.u-section-8 .u-text-10 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-8 .u-layout-cell-6 {
  background-image: none;
  min-height: 222px;
}

.u-section-8 .u-container-layout-7 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-8 .u-text-11 {
  margin: 23px 0 0;
}

.u-section-8 .u-text-12 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-8 .u-layout-cell-7 {
  background-image: none;
  min-height: 224px;
}

.u-section-8 .u-container-layout-8 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-8 .u-text-13 {
  margin: 23px 0 0;
}

.u-section-8 .u-text-14 {
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1011px;
  }

  .u-section-8 .u-group-1 {
    width: 645px;
    position: absolute;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 181px;
    margin-bottom: 183px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-8 .u-text-3 {
    position: relative;
  }

  .u-section-8 .u-text-4 {
    position: relative;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-8 .u-text-5 {
    position: relative;
  }

  .u-section-8 .u-text-6 {
    position: relative;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-8 .u-text-7 {
    position: relative;
  }

  .u-section-8 .u-text-8 {
    position: relative;
  }

  .u-section-8 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-8 .u-text-9 {
    position: relative;
  }

  .u-section-8 .u-text-10 {
    position: relative;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-8 .u-text-11 {
    position: relative;
  }

  .u-section-8 .u-text-12 {
    position: relative;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-8 .u-text-13 {
    position: relative;
  }

  .u-section-8 .u-text-14 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1010px;
  }

  .u-section-8 .u-group-1 {
    width: 360px;
    margin-top: 40px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-1 {
    margin-top: 20px;
    width: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-8 .u-image-1 {
    height: 516px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-8 .u-image-1 {
    height: 550px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 3px;
    padding-right: 3px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 907px;
}

.u-section-9 .u-group-1 {
  width: 835px;
  min-height: 145px;
  margin: 70px auto 0;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-9 .u-text-1 {
  animation-duration: 1000ms;
  margin: 15px 0 0;
}

.u-section-9 .u-text-2 {
  animation-duration: 1000ms;
  margin: 13px 0 15px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 23px auto 70px 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 599px;
  animation-duration: 1000ms;
}

.u-section-9 .u-image-1 {
  background-image: url("images/bf46f3252edb2d29641ccb332f377bc9.jpg");
  background-position: 50% 7.08%;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 599px;
  animation-duration: 1000ms;
}

.u-section-9 .u-container-layout-3 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-9 .u-text-3 {
  margin: 179px 0 0;
}

.u-section-9 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-9 .u-link-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 30px auto 179px -2px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-9 .u-group-1 {
    width: 689px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-9 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 500px;
    background-position: 50% 50%;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-9 .u-link-1 {
    margin-bottom: 115px;
    margin-left: -1px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-9 .u-group-1 {
    width: 527px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 332px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-9 .u-link-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-9 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 461px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 459px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-9 .u-link-1 {
    margin-bottom: 109px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 300px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 299px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-9 .u-link-1 {
    margin-bottom: 60px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 357px;
}

.u-section-10 .u-layout-wrap-1 {
  margin: 65px auto 63px 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 259px;
  background-position: 0% 0%;
}

.u-section-10 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-10 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 25px auto 0;
}

.u-section-10 .u-text-1 {
  margin: 32px 30px 25px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 259px;
  background-position: 0% 0%;
}

.u-section-10 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-10 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 25px auto 0 139px;
}

.u-section-10 .u-text-2 {
  margin: 32px 30px 25px;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 259px;
  background-position: 0% 0%;
}

.u-section-10 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 0;
}

.u-section-10 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 58px auto 0 118px;
}

.u-section-10 .u-text-3 {
  margin: 31px 30px 25px 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-10 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-icon-1 {
    height: 54px;
    width: 54px;
    position: relative;
  }

  .u-section-10 .u-text-1 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-10 .u-icon-2 {
    height: 54px;
    width: 54px;
    margin-left: 115px;
    position: relative;
  }

  .u-section-10 .u-text-2 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-10 .u-icon-3 {
    height: 54px;
    width: 54px;
    margin-top: 25px;
    margin-left: auto;
    position: relative;
  }

  .u-section-10 .u-text-3 {
    position: relative;
    margin-top: 29px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-icon-1 {
    height: 57px;
    width: 57px;
    margin-top: 46px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-10 .u-icon-2 {
    height: 57px;
    width: 57px;
    margin-top: 46px;
    margin-left: 66px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-10 .u-icon-3 {
    height: 57px;
    width: 57px;
    margin-top: 46px;
  }

  .u-section-10 .u-text-3 {
    margin-top: 32px;
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 65px;
    margin-bottom: 63px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-icon-1 {
    height: 56px;
    width: 56px;
    margin-top: 25px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-10 .u-icon-2 {
    height: 56px;
    width: 56px;
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-10 .u-text-2 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-10 .u-icon-3 {
    height: 56px;
    width: 56px;
    margin-top: 25px;
  }

  .u-section-10 .u-text-3 {
    margin-top: 29px;
    margin-left: 7px;
    margin-right: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-icon-1 {
    height: 32px;
    width: 32px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-10 .u-icon-2 {
    height: 32px;
    width: 32px;
    margin-left: 41px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-10 .u-icon-3 {
    height: 32px;
    width: 32px;
    margin-top: 91px;
    margin-left: 35px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin: 24px 9px 0 0;
  }
}